@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Lora:wght@400&family=Roboto:wght@100;300;500&display=swap');

// variables 
$header_height: 80px;
$root_size: 18;

// mixin
@mixin lora {
  font-family: 'Lora', serif;
}
@mixin roboto {
  font-family: 'Roboto', sans-serif;
}

@function rem($size){
  @return ceil($size / $root_size * 100) / 100+rem; 
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, img, strong, small, dl, dt, dd, ol, ul, li, fieldset, form, input, button, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  padding: 0;
  margin: 0;
}
article, aside, figcaption, figure, video, audio, footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-size: $root_size+px;
}

body {
  
  font : {
    family: 'Noto Sans KR', sans-serif;
    weight: 300;
  }

  line-height:1;
  color: #000;
}


img, fieldset, button {
  border: 0;
}
ol, ul {
  list-style: none;
}

a {
  text-decoration:none;
  color: inherit;
}

a, img {
  vertical-align: top;
}

a, button, label, input, textarea{
  outline: 0;
}

a, button, label, input, select{
  -webkit-tap-highlight-color: transparent;
}

button, label {
  cursor: pointer;
}

button {
  border: 0; 
  background-color: transparent;
  font: {
    family: inherit;
    size: inherit;
  }
}

/* layout */
#root {
  position: relative;
  padding: $header_height + 50 0 30px;
}

.container {
  position: relative;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

/* header */
#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: $header_height;
  z-index: 100;
  background: #fff;

  .container {
    height: 100%;
  }

  h1 {
    position: relative;
    top: 0;
    left: 0; 
    display: flex;
    height: 100%;
    font-weight: 100;
    font-size: rem(26);
    text-align: center;
    align-items: center;
    margin: auto;
    @include lora;

    a {
      margin: 0 auto 4px;
    }
  }

  .category_wrap {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 20px;
    margin-top: -10px;

    h2 {
      display: flex;
      height: 100%;
      align-items: center;

      a {
        font-size: 0;
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }

    ul {
      position: absolute;
      top: 0;
      left: 20px;
      display: flex;
      align-items: center;
      margin-left: 2%;

      li {
        line-height: 1.2;
        margin: 0 3%;
        @include roboto;

        &:not(.active) {
          color: rgba(0,0,0, 0.5);
        }

        &:hover {
          color: rgba(0,0,0, 0.7);
        }
      }
    }
  }
}

/* main */
main {

  min-height: calc(100vh - #{$header_height});

  article {
    padding-bottom: 2%;
  }

  h1 {
    @include roboto;
    font-size: rem(40);
    font-weight: 100;
    line-height:1.3;
    letter-spacing: -0.01em;
    margin-bottom: 1%;
  }
  
  ul {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -1.5%;
  }
  
  li {
    position: relative;
    word-break: keep-all;
    box-sizing: border-box;
    flex-basis: 22%;
    overflow: hidden;
    margin: 0 1.5% 3%;

    img {
      display: block;
      width: 100%;
    }

    > div {
      position: absolute;
      left: 0; 
      right: 0;
      bottom: 0;
      background: #fff;
      border-bottom: 1px solid #ccc;
      line-height: 1.2;
      padding: 5% 4%;      
    }

    .info {
      position: relative;
      line-height: 1.2;

      span {
        display: block;
      }
    }

    .title {
      position: relative;
      font-size: rem(28);
    }

    .subtitle {
      color: #555;
      margin-top:2%;
    }

    .date {
      position: absolute;
      top: 10%;
      right: 0;
      font-size: rem(16);
      font-weight: 100;
      @include roboto;
    }

    .anchor {
      position: absolute;
      top: 40%;
      left: 4%;
      right: 4%;
      display: none;
        
      .btn {
        position: relative;
        display: block;
        width: 100%;
        text-align: left;
        @include roboto;
        color: #fff;
        font-size: rem(24);
        font-weight: 500;
        line-height: 30px;

        &:before {
          content: "";
          position: absolute;
          bottom: 45%;
          left: 0;
          width: 100%;
          height: 1px;
          background: rgba(255, 255, 255, 0.7);
        }
        
        &:first-child {
          margin-bottom: 5%;
        }
      }
    }

    &:hover {

      img {
        filter: blur(2px);
      }

      > div {
        top: 0;
        border: 0 none;
        background: rgba(0,0,0, 0.6);
      }

      .anchor {
        display: block;
      }

      .info {
        
        span {
          color: #fff;
        }
      }
    }
  }
}

/* footer */
footer {
  @include roboto;
  line-height: 1.5;
  font-size: 0.9em;
  text-align: center;
  color: #666;
}

/* modal */
#modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  z-index: 100;
  justify-items: center;
  overflow-y: auto;
  padding: 2.5% 0;

  .dim {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
  }

  .move {
    position: fixed;
    top: 50%;
    width: 100px;
    height: 100px;
    background: rgba(0,0,0, 0.5);
    margin-top: -50px;

    span {
      position: absolute;
      width: 1px;
      height: 50%;
      background: #fff;

      &:first-child {
        top: 0;
      }

      &:last-child {
        bottom: 0;
      }
    }

    &.prev {
      left: 0;

      span {
        left: 30px;

        &:first-child {
          top: 0;
          transform: rotate(45deg);
          transform-origin: 0 100%;
        }
        
        &:last-child {
          bottom: 0;
          transform: rotate(-45deg);
          transform-origin: 0 0;
        }
      }
    }

    &.next {
      right: 0;

      span {
        right: 30px;

        &:first-child {
          transform: rotate(-45deg);
          transform-origin: 0 100%;
        }

        &:last-child {
          transform: rotate(45deg);
          transform-origin: 0 0;
        }
      }
    }
  }

  .modal_popup {
    position: relative;
    width: 90%;
    max-width: 840px;
    background: #fff;
    box-sizing: border-box;
    margin: auto;

    > div {
      padding: 5% 3%;
    }
  }

  header {
    position: relative;
    border-bottom: 1px solid #ccc;
    line-height: 1.4;
    padding-bottom: 1.5%;
    margin-bottom: 3%;
  }

  h1, .subtitle {
    display: inline-block;
  }

  h1 {
    font: {
      size: rem(38);
      weight: 300;
    }
    margin-right: 0.7%;
  }

  .subtitle {
    color: #555;
    font-size: rem(24);
  }

  .date {
    position: absolute;
    right: 0;
    bottom: 0;
    @include roboto;
    font-weight: 100;
    margin-bottom: 2%;
  }

  section {
    line-height: 1.5;
  }

  .info {
    margin: 3% 0;

    li {
      position: relative;
      padding-left: 10px;
      margin-bottom: 2px;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        position: absolute;
        top: 50%;
        left: 0;
        content: "";
        width: 2px;
        height: 2px;
        border-radius: 100%;
        background: #000;
      }
    }
  }

  .img {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -1.5%;

    li {
      position: relative;
      flex-basis: 30.33%;
      margin: 0 1.5%;

      span {
        position: relative;
        display: inline-block;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border: 1px solid rgba(0,0,0, 0.1);
        }
      }

      img {
        width: 100%;
      }
    }
  }

  .link {
    color: #00A8FF;
    word-break: break-all;

    &:hover {
      text-decoration: underline;
    }
  }

  .page {
    overflow: hidden;
    margin-top: 0.5%;

    li {
      position: relative;
      float: left;
      font-size: rem(15);
      padding-left: 5px;
      margin-right: 1%;

      &:before {
        position: absolute;
        top: 50%;
        left: 0;
        content: "";
        width: 1px;
        height: 1px;
        background: #333;
      }

      a {
        color: #333;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    max-width: 50px;
    margin: 1.5% 1.5% 0 0;

    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
    
    span {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #000;
      margin-top: -3px;

      &:first-child {
        transform: rotate(45deg);
      }
      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 3px solid #eee;
  border-top-color: #000;
  border-radius: 100%;
  margin: -25-$header_height 0 0 -25px;
  animation: loadingspin 1s ease-in-out infinite;
}

@keyframes loadingspin {
  to { -webkit-transform: rotate(360deg); }
}

@media screen and (min-width:1200px) and (max-width: 1400px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 1200px) {
  main {
    li {
      flex-basis: 30.33%;
    }
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 16px;
  }

  #modal {
    .move {
      display: none;
    }
  } 
}

@media screen and (max-width: 800px) {

  #header {

    padding-bottom: 20px;

    .category_wrap {

      ul {
        left: 0;
        top : 40px;
        margin-left: 0;
      }
    }
  }

  main {

    article {
      margin-bottom: 5%;
    }

    li {
      flex-basis: 47%;
    }
  }
}

@media screen and (max-width: 500px) {

  html {
    font-size: 15px;
  }

  main {

    li {
      .title {
        font-size: rem(20);
      }
    }
  }

  #modal {

    header {

      h1 {
        font-size: rem(30);
      }   

      .subtitle {
        display: block;
        font-size: rem(18);
      }
    }
  }
}